In [1]:
import numpy as np
import pandas as pd

In [2]:
file = pd.read_csv('/home/rushali/ml703_timeSeriesCausalDiscovery/data/final_data_msft.csv')

In [3]:
file2 = pd.read_csv('/home/rushali/ml703_timeSeriesCausalDiscovery/data/final_data_amzn.csv')

In [4]:
file.head()

,Unnamed: 0,day_date,close_value,num_tweets,log_close_value,lag_log_close_value,log_num_tweets
0,1,2019-01-01,101.57,74,4.620748,0.000000,4.304065
1,2,2019-01-02,101.12,192,4.616308,-0.004440,5.257495
2,3,2019-01-03,97.40,221,4.578826,-0.037482,5.398163
3,4,2019-01-04,101.93,158,4.624286,0.045460,5.062595
4,5,2019-01-05,101.93,55,4.624286,0.000000,4.007333

In [5]:
file2.head()

,Unnamed: 0,day_date,close_value,num_tweets,log_close_value,lag_log_close_value,log_num_tweets
0,1,2019-01-01,1501.97,189,7.314533,0.000000,5.241747
1,2,2019-01-02,1539.13,668,7.338973,0.024440,6.504288
2,3,2019-01-03,1500.28,658,7.313407,-0.025566,6.489205
3,4,2019-01-04,1575.39,667,7.362258,0.048851,6.502790
4,5,2019-01-05,1575.39,218,7.362258,0.000000,5.384495

In [6]:
data = file[['day_date','lag_log_close_value','log_num_tweets']]

In [7]:
data2 = file2[['day_date','lag_log_close_value','log_num_tweets']]

In [8]:
data.head()

     day_date  lag_log_close_value  log_num_tweets
0  2019-01-01             0.000000        4.304065
1  2019-01-02            -0.004440        5.257495
2  2019-01-03            -0.037482        5.398163
3  2019-01-04             0.045460        5.062595
4  2019-01-05             0.000000        4.007333

In [9]:
data2.head()

     day_date  lag_log_close_value  log_num_tweets
0  2019-01-01             0.000000        5.241747
1  2019-01-02             0.024440        6.504288
2  2019-01-03            -0.025566        6.489205
3  2019-01-04             0.048851        6.502790
4  2019-01-05             0.000000        5.384495

In [10]:
dataframe = np.column_stack((data.lag_log_close_value,data2.lag_log_close_value,data.log_num_tweets,data2.log_num_tweets))

In [11]:
from pytrad.search.ConstraintBased import PC
from pytrad.utils.cit import fisherz, chisq, gsq, mv_fisherz, kci ## Conditional Independence test

cg = PC.pc(data=dataframe, alpha=0.05, indep_test=fisherz, 
            stable=True, uc_rule=0, uc_priority=-1)

0 ind 3 | () with p-value 0.148357

1 ind 2 | () with p-value 0.214830

1 ind 3 | () with p-value 0.273504

2 ind 1 | () with p-value 0.214830

3 ind 0 | () with p-value 0.148357

3 ind 1 | () with p-value 0.273504

# FCI

In [12]:
from pytrad.search.ConstraintBased.FCI import fci, mod_endpoint
from pytrad.utils.GraphUtils import GraphUtils

G = fci(dataframe, fisherz, 0.05, verbose=True)

pgv_g = GraphUtils.to_pgv(G)
pgv_g.draw('./FCI/msft_amzn.jpeg', prog='dot', format='jpeg')

phase1 remove X1 --- X4 by sepset () pval:0.148356799767432
phase1 remove X2 --- X3 by sepset () pval:0.2148300561676616
phase1 remove X2 --- X4 by sepset () pval:0.2735043912787891
orient_V: X1,X3,X4
orient_V: X2,X1,X3