In [1]:
import numpy as np
import pandas as pd

In [2]:
file = pd.read_csv('/home/rushali/ml703_timeSeriesCausalDiscovery/data/final_data_msft.csv')

In [3]:
file2 = pd.read_csv('/home/rushali/ml703_timeSeriesCausalDiscovery/data/final_data_amzn.csv')

In [4]:
file.head()

,Unnamed: 0,day_date,close_value,num_tweets,log_close_value,lag_log_close_value,log_num_tweets
0,1,2019-01-01,157.74,249,5.060948,0.000000,5.517453
1,2,2019-01-02,157.92,1734,5.062089,0.001140,7.458186
2,3,2019-01-03,142.19,4943,4.957164,-0.104924,8.505728
3,4,2019-01-04,148.26,1682,4.998967,0.041803,7.427739
4,5,2019-01-05,148.26,535,4.998967,0.000000,6.282267

In [5]:
file2.head()

,Unnamed: 0,day_date,close_value,num_tweets,log_close_value,lag_log_close_value,log_num_tweets
0,1,2019-01-01,332.80,443,5.807542,0.000000,6.093570
1,2,2019-01-02,310.12,1196,5.736959,-0.070582,7.086738
2,3,2019-01-03,300.36,1257,5.704982,-0.031978,7.136483
3,4,2019-01-04,317.69,922,5.761076,0.056094,6.826545
4,5,2019-01-05,317.69,505,5.761076,0.000000,6.224558

In [6]:
data = file[['day_date','lag_log_close_value','log_num_tweets']]

In [7]:
data2 = file2[['day_date','lag_log_close_value','log_num_tweets']]

In [8]:
data.head()

     day_date  lag_log_close_value  log_num_tweets
0  2019-01-01             0.000000        5.517453
1  2019-01-02             0.001140        7.458186
2  2019-01-03            -0.104924        8.505728
3  2019-01-04             0.041803        7.427739
4  2019-01-05             0.000000        6.282267

In [9]:
data2.head()

     day_date  lag_log_close_value  log_num_tweets
0  2019-01-01             0.000000        6.093570
1  2019-01-02            -0.070582        7.086738
2  2019-01-03            -0.031978        7.136483
3  2019-01-04             0.056094        6.826545
4  2019-01-05             0.000000        6.224558

In [10]:
dataframe = np.column_stack((data.lag_log_close_value,data2.lag_log_close_value,data.log_num_tweets,data2.log_num_tweets))

In [11]:
from pytrad.search.ConstraintBased import PC
from pytrad.utils.cit import fisherz, chisq, gsq, mv_fisherz, kci ## Conditional Independence test

cg = PC.pc(data=dataframe, alpha=0.05, indep_test=fisherz, 
            stable=True, uc_rule=0, uc_priority=-1)

0 ind 2 | () with p-value 0.299584

0 ind 3 | () with p-value 0.167130

1 ind 2 | () with p-value 0.367255

1 ind 3 | () with p-value 0.098070

2 ind 0 | () with p-value 0.299584

2 ind 1 | () with p-value 0.367255

3 ind 0 | () with p-value 0.167130

3 ind 1 | () with p-value 0.098070

# FCI

In [12]:
from pytrad.search.ConstraintBased.FCI import fci, mod_endpoint
from pytrad.utils.GraphUtils import GraphUtils

G = fci(dataframe, fisherz, 0.05, verbose=True)

pgv_g = GraphUtils.to_pgv(G)
pgv_g.draw('./FCI/masft_amzn.jpeg', prog='dot', format='jpeg')

phase1 remove X1 --- X3 by sepset () pval:0.29958371063662104
phase1 remove X1 --- X4 by sepset () pval:0.16712965658007473
phase1 remove X2 --- X3 by sepset () pval:0.36725500585118465
phase1 remove X2 --- X4 by sepset () pval:0.09806960720692737